Source: h5fs
Maintainer: alain leufroy <contact@logilab.fr>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 7.4.3), fuse (>= 2.9.2), python-fuse, python-h5py, python-numpy, python-docutils
Standards-Version: 3.9.1

Package: h5fs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-fuse  (>= 2:0.2.1)
X-Python-Version: >= 2.5
Description: Virtual filesystem that exposes the content of HDF5 files
 H5FS is a mountable Linux virtual file system that allows user to read 
 the content of HDF5 as if they were real files.
 .
 In fact, HDF5 simplifies the file structure to include only two major types of
 object:
 .
 * Datasets, which are multidimensional arrays of a homogenous type
 * Groups, which are container structures which can hold datasets and other
   groups
 .
 This results in a truly hierarchical, filesystem-like data format as resources
 in an HDF5 file are even accessed using the POSIX-like syntax
 /path/to/resource. By this way a virtual file system that exposes to the user
 the hierarchical data seems natural.
 .
